.sct-title {
    font-size: 35px;
    color: #111827;
    font-weight: 600;
    margin-bottom: 16px;
}

.sct-subtitle {
    font-size: 18px;
    font-weight: 400;
    color: #4B5563;
}

.fcl-documents-top {
    text-align: center;
}

.official-documents, .news-events {
    padding: 80px 0;
}

/* Оставить только технические стили, если они нужны для других страниц */
body, html {
  overflow-x: hidden;
}
.main {
  width: 100%;
  overflow-x: hidden;
}